<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-79TW0SLZ9L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-79TW0SLZ9L');
    </script>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header"  
        role="banner">
      <h1 class="project-name">Improve Your Code Review Game</h1>
      <a id="home" href="index" class="btn">Home</a>
      <a id="game" href="game" class="btn">The Game</a>
      <a id="gotchas" href="gotchas_list" class="btn">Gotchas</a>
      <a id="author" href="author" class="btn">Author's Checklists</a>
      <a id="reviewer" href="reviewer" class="btn">Reviewer's Checklists</a>
    </header>
    <main id="content" class="main-content" role="main">
           {{ content }}
          <footer class="site-footer">
            &copy; 2022 Coleen Ho
          </footer>
    </main>
  </body>
</html>
